<script setup>

import { ref, defineProps, watch } from 'vue';
import { Store } from '../stores';

const { selected } = defineProps(['selected']);
const new_message = ref('');
const store = Store();

const contactTitle = ref(selected)

const sendMessage = () => {
  if(new_message.value) {
    store.enterNewMessage(new_message.value)
  }
  new_message.value = ''
};

</script>

<template>
  <div class="chat">
    <v-toolbar class="chat_toolbar" color="white" border density="compact" v-if="selected">
      <v-toolbar-title>
        <ChatTitle />
      </v-toolbar-title>
      <v-btn icon max-width="40px" max-height="40px">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-btn icon max-width="40px" max-height="40px">
        <v-icon>mdi-phone</v-icon>
      </v-btn>
      <v-btn icon max-width="40px" max-height="40px">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>
    <div v-if="selected" class="chatlist_message mb-5">

    </div>

    <v-form @submit.prevent="sendMessage">
      <v-text-field
        v-if="selected"
        class="chat__enter-message"
        v-model="new_message"
        variant="solo-filled"
        hide-details
        :label="new_message ? '' : 'Напишите сообщение'"
      >
        <template v-slot:prepend-inner>
          <img class="mr-2" src="../assets/Emoji Icon.svg"/>
        </template>
        <template v-slot:append-inner>
          <img @click="sendMessage" class="mr-2" src="../assets/Send Icon.svg"/>
        </template>
      </v-text-field>
    </v-form>
  </div>
</template>


<style scoped lang="scss">

    .chat{
        position: relative;
        background-color: #8BABD8;
        display: block!important;
        height: 100%;
        .chat__enter-message{
           position: absolute;
           bottom: 24px;
           left: 24px;
           right: 24px;
        }
        .chatlist_message {
            height: calc(100% - 140px); 
            place-content: end; 
            overflow: auto;
        }
    }

    .v-field.v-field--appended{
        border-radius: 12px!important;
    }


</style>