<script setup>
import { ref, watch, computed, defineEmits, defineProps } from 'vue';
import { Store } from '../stores'

const search = ref('');
const emits = defineEmits(['update:selected', 'update:mini']);
const props = defineProps({
  selected: Object,
  mini: Boolean
});

const selected = ref(props.selected);
const store = Store();

const mini = ref(props.mini)

const storeContact = ref(store.getContacts)
const miniToggle = () => {
  return mini.value = !mini.value;
}

const contacts = computed(() => {
  let contacts = storeContact.value
  if(search !== '') {
    contacts = contacts.filter(item => item.name.indexOf(search.value) !== -1)
  } 
  return contacts
})

watch(selected, (newSelected) => {
  console.log(newSelected)
  emits('update:selected', newSelected);
  store.loadSelectMessages(newSelected.id);
  store.selectedContact(newSelected.id);
});

watch(mini, (newSelected) => {
  emits('update:mini', newSelected);
});

</script>
<template>
  <v-expand-transition>
    <v-card class="layout" hide-details :width="mini ? '80px' : '100%'">
      <v-card-title class="pa-0 mb-4">
        <v-toolbar class="layouttoolbar" color="white" density="compact">
          <v-btn class="mr-4 ml-4" icon max-width="40px" max-height="40px" @click="miniToggle">
            <v-icon>mdi-menu</v-icon>
          </v-btn>
          <v-text-field
            v-if="!mini"
            class="layout_search mr-3 pa-0"
            variant="solo-filled"
            v-model="search"
            rounded
            flat
            density="compact"
            hide-details
            :label="search ? '' : 'Поиск'"
          >
            <template v-slot:prepend-inner>
              <v-icon>mdi-magnify</v-icon>
            </template>
          </v-text-field>
        </v-toolbar>
      </v-card-title>
      <v-card-text class="pa-0 layout_content">
        <v-list density="compact" lines="three">
          <v-list-item
            v-for="contact in contacts"
            :key="contact.id"
            :value="contact"
            color="primary"
            @click="selected = contact"
          >
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </v-expand-transition>
</template>

<style scoped lang="scss">

.layout {
    height: 100%;
    .layout_search{
        z-index: 999;
    }
    .layout_content {
        overflow: auto; 
        height: calc(100% - 64px); 
        scrollbar-width: none;
    }
}

</style>