<script setup>
import Chat from './components/Chat.vue';
import Layout from './components/Layout.vue';
import { ref, watch } from 'vue';

const selected = ref(null);

const mini = ref(false)

watch(mini, (newValue) => {
  console.log('Selected toggle:', newValue);
});

</script>

<template>
  <div class="wrapper">
    <div :class="mini ? 'pa-0 layout_mini' : 'pa-0 layout'">
      <Layout v-model:mini="mini" v-model:selected="selected"/>
    </div>
    <div class="pa-0 chat">
      <Chat :selected="selected"/>
    </div>
  </div>
</template>

<style scoped lang="scss">

.wrapper {
  display: flex;
  height: 100%;
  
  .layout {
    min-width: 364px;
  }

  .layout_mini {
    width: 80px;
  }

  .chat {
    width: 100%;
  }
}

::v-deep .v-card__loader {
  display: none;
}


</style>